* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*Header*/

header {
    display: flex;
    background-color: #b8b8b8;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 5rem;
    z-index: 5;
}

/*Menu*/

.menubar {
    position: absolute;
    background-color: #9e9e9e;
    top: 5rem;
    left: -12rem;
    padding: 1rem 2rem;
    line-height: 2rem;
    width: 12rem;
    transition: all 1s ease;
}

header  ul {
    list-style: none;
}

header ul a{
    padding-left: 1rem;
    transition: all 1s ease;
    text-decoration: none;
    color: rgb(37, 37, 37);
}

.menubar ul a:hover {
    color: rgb(107, 107, 107);
    padding-left: 2rem;
}

#check {
    display: none;
}

label #openmenu {
    position: absolute;
    top: 1.9rem;
    left: 7rem;
    font-size: 1.5rem;
    transition: all 1s ease;
}

label #closemenu {
    position: absolute;
    top: 6rem;
    left: -2rem;
    font-size: .5rem;
    z-index: 1;
    transition: all 1s ease;
}

label #openmenu:hover,
label #closemenu:hover,
label #closeaccountmenu:hover {
    color: rgb(66, 66, 66);
    transition: all 1s ease;
    cursor: pointer;
}

#check:checked ~ .menubar {
    top: 5rem;
    left: 0rem;
    transition: all 1s ease;
}

#check:checked ~ label #openmenu {
    top: -2rem;
    transform: rotate(100deg);
    transition: all 1s ease;
}
#check:checked ~ label #closemenu {
    display: initial;
    left: 10rem;
    transition: all 1s ease;
    font-size: 1.5rem;
    top: 5.5rem;
}

/*Account*/

.account {
    border-radius: 100%;
    border: solid black 1px;
    background-color: lightcoral;
    margin-left: 1rem;
    height: 50px;
    width: 50px;
}

.account:hover {
    height: 52px;
    width: 52px;
    cursor: pointer;
    transition: all 1s ease;
}

.accountmenu {
    position: absolute;
    right: 0;
    top: -5rem;
    transition: all 1s ease;
    text-decoration: none;
    color: rgb(37, 37, 37);
    padding: 1rem 2rem;
    line-height: 2rem;
    width: 12rem;
    background-color: #9e9e9e;
    z-index: -2;
}

#check1 {
    display: none;
}

label #closeaccountmenu {
    position: absolute;
    top: -2rem;
    right: 10rem;
    font-size: 1.5rem;
    transition: all 1s ease;
    z-index: -1;
    font-size: 1.5rem;
}

.accountmenu a:hover {
    color: rgb(107, 107, 107);
    padding-left: 2rem;
}

#check1:checked ~ .accountmenu{
    top: 5rem;
}
#check1:checked ~ label #closeaccountmenu {
    top: 5.5rem;
}